# Ce fichier contient l'ensemble des infos sur la configuration des repertoires et leurs contenu.
# dir = directory | repertoire 
# fil = file | fichier

celps++ : dir
	root (la racine), le dossier principal


celps++/books : dir
	contient l'ensemble des infos sur les COURS (EXERCICES)

	books/$cours : dir
		contient les info sur un cours, exemple: cours1

		$cours/archives : dir
			une archive sur le processus de transformation d'un PDF en cours, avec tous les fichiers disponibles

		$cours/cours : dir
			contient les lessons reussit par l'utilisateur (USER)

			cours/words : dir
				les lessons baser sur les mots

			cours/audio : dir
				les lessons baser sur la partie audio

		$cours/lessons : dir
				contient les fichiers (lessons) et chaque fichier est representer par un ficher

		$cours/config : dir
			contient les fichiers et dossiers de configuration

		$cours/dict : dir
				dict (dictionnaire) contient les fichiers scripts de transformation du dico (eng-fra.tei) en un fichier
				(dict.txt) lisible par l'application.

